.menu {
  margin-top: 20px;
  max-width: 1110px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20 1fr);
}

.menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu__project {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 18;
  -ms-grid-column-span: 1;
  grid-area: 1/18/2/19;
}

.menu__contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 19;
  -ms-grid-column-span: 1;
  grid-area: 1/19/2/20;
}

.title-quote {
  max-width: 1110px;
  margin: 50px 0 50px 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  max-width: 635px;
  width: 100%;
}

.title__heading {
  font-size: 22px;
  color: #4A4FF2;
  font-weight: bold;
}

.title__paragraph {
  font-size: 40px;
}

.title__paragraph-span {
  color: #4A4FF2;
}

.quote {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.quote__rectangle {
  width: 30px;
  height: 2px;
  background-color: #111111;
}

.quote__paragraph {
  margin-top: 5px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}

.frame {
  margin: 20px 0 20px 0;
  max-width: 1110px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 9, 1fr;
      grid-template-columns: repeat 9, 1fr;
  -ms-grid-rows: repeat 32, 1fr;
      grid-template-rows: repeat 32, 1fr;
  grid-gap: 10px;
}

.img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/8/4;
  max-width: 357px;
  width: 100%;
}

.img-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 1/4/7/7;
  max-width: 357px;
  width: 100%;
}

.img-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 1/7/11/10;
  max-width: 357px;
  width: 100%;
}

.img-4 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 8/1/16/4;
  max-width: 357px;
  width: 100%;
}

.img-5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 7/4/14/7;
  max-width: 357px;
  width: 100%;
}

.img-6 {
  -ms-grid-row: 16;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 16/1/24/4;
  max-width: 357px;
  width: 100%;
}

.img-7 {
  -ms-grid-row: 14;
  -ms-grid-row-span: 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 14/4/23/7;
  max-width: 357px;
  width: 100%;
}

.img-8 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 7;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 11/7/18/10;
  max-width: 357px;
  width: 100%;
}

.img-9 {
  -ms-grid-row: 24;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 24/1/33/4;
  max-width: 357px;
  width: 100%;
}

.img-10 {
  -ms-grid-row: 23;
  -ms-grid-row-span: 10;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 23/4/33/7;
  max-width: 357px;
  width: 100%;
}

.img-11 {
  -ms-grid-row: 18;
  -ms-grid-row-span: 9;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 18/7/27/10;
  max-width: 357px;
  width: 100%;
}

.img-12 {
  -ms-grid-row: 27;
  -ms-grid-row-span: 6;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 27/7/33/10;
  max-width: 357px;
  width: 100%;
}

.group {
  margin: 50px 0 50px 0;
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.group__text {
  max-width: 630px;
  width: 100%;
  font-size: 28px;
}

.group__service {
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  list-style: none;
}

.awards {
  margin-bottom: 50px;
  max-width: 1110px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 7, 1fr;
      grid-template-columns: repeat 7, 1fr;
  -ms-grid-rows: repeat 10, 1fr;
      grid-template-rows: repeat 10, 1fr;
}

.awards__text {
  position: relative;
  top: 30px;
}

.divider {
  max-width: 1110px;
  width: 100%;
  height: 2px;
  background-color: #D8D8D8;
  stroke: #979797;
}

.line-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 1/1/9/10;
  font-size: 22px;
}

.awards__item-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/2/2;
  font-size: 22px;
}

.awards__item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2/5/2/6;
  font-size: 18px;
}

.awards__item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 2/7/2/8;
  max-width: 170px;
  font-weight: 400;
}

.awards__item-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 2/9/2/10;
  font-weight: 400;
}

.awards__item-5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 3/5/4/6;
  font-size: 18px;
}

.awards__item-6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 3/7/4/8;
  max-width: 170px;
  font-weight: 400;
}

.awards__item-7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 3/9/4/10;
  font-weight: 400;
}

.line-two {
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 4/1/9/10;
}

.awards__item-8 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5/1/5/3;
  font-size: 22px;
}

.awards__item-9 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 5/5/5/6;
  font-size: 18px;
}

.awards__item-10 {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 5/7/5/8;
  max-width: 170px;
  font-weight: 400;
}

.awards__item-11 {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 5/9/5/10;
  font-weight: 400;
}

.awards__item-12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 6/5/7/6;
  font-size: 18px;
}

.awards__item-13 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 6/7/7/8;
  max-width: 170px;
  font-weight: 400;
}

.awards__item-14 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 6/9/7/10;
  font-weight: 400;
}

.line-three {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 8/1/9/10;
}

.footer {
  margin-top: 20px;
  max-width: 1110px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20 1fr);
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__project {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-area: 1/15/2/16;
}

.footer__contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 16;
  -ms-grid-column-span: 1;
  grid-area: 1/16/2/17;
}

.footer__social {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 19;
  -ms-grid-column-span: 1;
  grid-area: 1/19/2/20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

body {
  font-family: 'Mulish';
  color: #111111;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */