.images-area {
    margin: 50px 0 50px 0;
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.big-image {
    max-width: 1110;
    width: 100%;
}

.images-area__small-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images-area__text {
    margin: 40px 0 40px 0;
    font-weight: 400;
}