.footer {
    margin-top: 20px;
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(20 1fr);
    &_logo {
        display: flex;
        align-self: center;
    }
    &__project {
        grid-area: 1/15/2/16;
    }
    &__contact {
        grid-area: 1/16/2/17;
    }
    &__social {
        grid-area: 1/19/2/20;
        display: flex;
        align-self: center;
    }
}